.weapons-header {
    background: #3E3939;
    display: flex;
    align-items: center;
}

.weapons-header-image {
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    object-fit: cover;
    max-width: 1080px;
    width: 65%;
}

.weapons-header .weapons-header-content-wrapper {
    color: #fff;
    text-align: center;
    padding: 0 50px;
    max-width: 320px;
}

.weapons-header .weapons-header-title {
    font-size: 2.5em;
}

.weapons-header .weapons-header-content {
    font-size: 1.3em;
}

.weapons-showcase {
    position: relative;
}

.weapons-showcase-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.weapons-swiper {
    padding: 80px 0;
}

/*TO FIX*/
.swiper {
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}