.about {
    display: flex;
    background: #363031;
    justify-content: space-between;
    align-items: center;
}

.about .about-content {
    padding: 0 50px;
    color: #fff;
    width: 100%;
}

.about .about-content .about-content-title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 35px;
}

.about .about-content p {
    font-size: 1.3em;
    max-width: 550px;
    margin: 0 auto 20px;
}