.hero-image-wrapper {
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.base-button {
    color: #fff;
    width: auto;
    background: #FF7517;
    padding: 15px 25px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 0.9em; /*TODO: FIX*/
    display: block;
    text-decoration: none;
    max-width: max-content;
    margin-top: 20px; /* TODO: FIX */
}